<div id="flash-messages">
    {% for type, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{% if type == 'error' %}danger{% else %}{{ type }}{% endif %} fade in">
                {{ flash|trans }}
            </div>
        {% endfor %}
    {% endfor %}
</div>