{% extends "AdminBundle::base.html.twig" %}

{% block content %}
    <div class="container admin">
        <div class="row" style="text-align: center">
            <h1>{{ "Admin"|trans }}</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                {% include 'AdminBundle:Default:menu.html.twig' %}
            </div>
            <div class="col-md-9">
                {% block page %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}