<div class="border-menu">
    <ul>
        <li><a href="{{ path('homepage_admin') }}">{{ "Home"|trans }}</a></li>
        <li><a href="{{ path('create_news') }}">{{ "Manage News"|trans }}</a></li>
    </ul>
</div>