<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left navbar-text">
                <li>
                    <span class="fa fa-copyright"></span>  2017, Marc Vanrenterghem.
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <div style="margin:0.5em">
                                <a href="{{ path('homepage_admin') }}" class="btn btn-danger">Admin</a>
                            </div>
                        </li>
                    {% endif %}
                    <li>
                        <div style="margin:0.5em">
                            <a href="{{ path('report_bug') }}" class="btn btn-danger"><span class="fa fa-warning"> Report Bug</span></a>
                        </div>
                    </li>
                    <li {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('contact') %}class="active"{% endif %}>
                        <div style="margin:0.5em">
                            <a href="{{ path('contact') }}" class="btn btn-info"> <span class="fa fa-book"></span> {{ 'Contact'|trans }}</a>
                        </div>
                    </li>
                {% endif %}
                <li>
                    <div class="btn-group" data-toggle="buttons" style="margin:0.5em">
                        <label id="day-mode" class="btn color-mode-button">
                            <input type="radio" name="day"><span class="fa fa-sun-o"></span>
                        </label>
                        <label id="night-mode" class="btn color-mode-button">
                            <input type="radio" name="night"><span class="fa fa-moon-o"></span>
                        </label>
                    </div>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% block javascripts %}
    <script>
        $(document).ready(function(){
            if (localStorage.getItem('color-mode')) {
                if (localStorage.getItem('color-mode') == 'night') {
                    $('#day-mode').removeClass('active');
                    $('#night-mode').addClass('active');
                }
                else {
                    $('#day-mode').addClass('active');
                    $('#night-mode').removeClass('active');
                }

                $('body')
                    .removeClass('day')
                    .removeClass('night')
                    .addClass(localStorage.getItem('color-mode'));
            }
            else {
                localStorage.setItem('color-mode', 'day');
                $('body').addClass('day');
            }
        });

        $('#day-mode').click(function(e) {
            localStorage.setItem('color-mode', 'day');
            $('body')
                .removeClass('day')
                .removeClass('night')
                .addClass(localStorage.getItem('color-mode'));
            console.log(localStorage.getItem('color-mode'));
        });

        $('#night-mode').click(function(e) {
            localStorage.setItem('color-mode', 'night');
            $('body')
                .removeClass('day')
                .removeClass('night')
                .addClass(localStorage.getItem('color-mode'));
            console.log(localStorage.getItem('color-mode'));
        });
    </script>
{% endblock %}