{% extends "StoryTellBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}{{ "Homepage"|trans }}{% endblock %}

{% block header %}
    <div class="col-md-12">
        <h1>StoryTell {{ "Homepage"|trans }}</h1>
    </div>
{% endblock %}

{% block page %}
    <div class="col-md-12">
        <p>{{ "Create your own story and share it ! Or simply read others stories !"|trans }}</p>
        {#<h2>News</h2>#}
        {#<p>...</p>#}
    </div>
{% endblock %}