{% extends "IdleBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}Armory{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-md-12">
            <h1>Armory</h1>
        </div>
    </div>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-md-12 screen">
            <div class="row container-top-menu">
                <div class="top-menu">
                    <ul>
                        <li><a href="{{ path('inventory') }}" class="btn btn-armory-menu {% if path(app.request.attributes.get('_route')) == path('inventory') %}active{% endif %}">Inventory</a></li>
                        <li><a href="{{ path('equipment') }}" class="btn btn-armory-menu {% if path(app.request.attributes.get('_route')) == path('equipment') %}active{% endif %}">Equipment</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                {% block page_armory %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}