{% extends "IdleBundle::base.html.twig" %}

{% block content %}
    <div class="container idle">
        {% block header %}{% endblock %}
        {% include 'IdleBundle:Default:menu.html.twig' %}
        {% block page %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
<script>
    var click_up = 1;

    function changePoints(nb) {
        var points = getPoints();
        points += nb;
        $("#points").html(points);
    }

    function getPoints() {
        return Number($("#points").html());
    }

    $("#click").click(function () {
        changePoints(click_up);
    });

    $("#up").click(function () {
        if (getPoints() >= 10) {
            changePoints(-10);
            click_up++;
        }
    });

    $("#auto-up").click(function () {
        if (getPoints() >= 5) {
            console.log('got up !');
            changePoints(-5);
            window.setInterval(function () {
                changePoints(1);
            }, 3000);
        }
        else {
            console.log('no...')
        }
    });
</script>
{% endblock %}