$bg-color: #ddd;
$menu-color: #eee;
$shadow-size: 3px;
$shadow-color: #ccc;
$font-color: #333;

$bg-color-night: #333;
$menu-color-night: #444;
$shadow-color-night: #111;
$font-color-night: #aaa;

$small-space: 10px;
$large-space: 20px;

$border-color: #1b6d85;

@font-face {
    font-family: fontIdle;
    src: url("../fonts/monof55.ttf");
}

@font-face {
    font-family: fontStrategy;
    src: url("../fonts/nasalization-rg.ttf");
}

body {
    padding-top: 40px;

    &.day {
        background-color: $bg-color;
        color: $font-color;
        .border-menu {
            background-color: $menu-color;
            margin: $small-space auto;
            padding: $small-space;
            border: solid 1px $border-color;
            border-radius: 10px;
            box-shadow: $shadow-size $shadow-size $shadow-size $shadow-color;
        }
        .story-tell {
            .body {
                background-color: #eee;
            }
        }
        .pick-one {
            .body {
                background-color: #eee;
            }
        }
    }
    &.night {
        background-color: $bg-color-night;
        color: $font-color-night;
        a {
            color: dodgerblue;
            &:hover {
                color: deepskyblue;
            }
        }
        .dropdown-menu {
            &>li>a {
                color: #333;
            }
        }
        .add-readings:hover {
            color: whitesmoke;
        }
        .remove-readings:hover {
            color: whitesmoke;
        }
        .navbar-default {
            background-color: #555;
            border-color: #666;
            .navbar-brand {
                color: #bbb;
            }
            .navbar-nav {
                &>li>a {
                    color: #bbb;
                    &:hover {
                        color: #ddd;
                    }
                }
                &>.active>a {
                    background-color: #777;
                    color: #ddd;
                }
                &>.open>a {
                    background-color: #777;
                    color: #ddd;
                }
                .dropdown-menu {
                    background-color: #666;
                    &>li>a {
                        color: #bbb;
                        &:hover {
                            background-color: #777;
                            color: #ddd;
                        }
                    }
                }
            }
        }
        .border-menu {
            background-color: $menu-color-night;
            margin: $small-space auto;
            padding: $small-space;
            border: solid 1px $border-color;
            border-radius: 10px;
            box-shadow: $shadow-size $shadow-size $shadow-size $shadow-color-night;
        }
        .story-tell {
            .body {
                background-color: #444;
            }
        }
    }
}
a.btn {
    color: whitesmoke !important;
}

.back-button {
    margin-top: $small-space;
    color: whitesmoke;
}

.color-mode-button {
    background-color: #666;
    border-color: #777;
    color: whitesmoke;
    &.btn:focus,
    &.btn:active:focus,
    &.btn.active:focus,
    &.btn.focus,
    &.btn:active.focus,
    &.btn.active.focus {
        outline-color: ghostwhite;
    }
    &.btn:hover,
    &.btn:focus,
    &.btn.focus {
        background-color: #555;
        color: whitesmoke;
        border-color: darkgrey;
    }
    &.active,
    &:active {
        background-color: #444;
        color: whitesmoke;
    }
}

.starter-template { // Space under the navbar
    padding: 50px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.modal-dialog {
    top: 5%;
    bottom: 5%;
}

.modal-body {
    //max-height: 100%;
    height: 60vh;
}

/*************/
/* DASHBOARD */
/*************/
.dashboard {
    h1 {
        text-align: center;
    }
}

/*********************/
/* ADMIN STYLE */
/********************/
.admin {
    .block-form {

        .form-heading {
            text-align: center;
        }

        .form-style {
            max-width: 800px;
            padding: 15px;
            margin: 0 auto;

            img {
                width: 100px;
                height: 100px;
            }

            .form-control {
                height: auto;
                padding: $small-space;
                margin-top: $small-space;
                margin-bottom: $small-space;
                font-size: 16px;
            }

            .form-list {
                list-style-type: none;
                height: auto;
                padding-left: $small-space;
                margin-bottom: $small-space;
            }

            .input-button {
                margin: $small-space 0 $small-space;
            }
        }
    }
}

/****************/
/* GAME LIBRARY */
/****************/
.game-library {
    h1 {
        text-align: center;
    }

    img {
        border-radius: 10px;
        width: 250px;
        height: 350px;

    }

    .locked {
        position: absolute;
        top: 120px;
        left: 120px;
        color: lightgrey;
    }
}

/**************/
/* FORM STYLE */
/**************/
.block-form {
    //@include border-menu();

    .form-heading {
        text-align: center;
    }

    .form-style {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;

        .form-control {
            height: auto;
            padding: $small-space;
            margin-top: $small-space;
            margin-bottom: $small-space;
            font-size: 16px;
        }

        .input-button {
            margin: $small-space 0 $small-space;
        }
    }

    .mail-style {
        max-width: 600px;
        padding: 15px;
        margin: 0 auto;
        text-align: center;

        p {
            text-align: left;
        }

        .form-control {
            height: auto;
            padding: $small-space;
            margin-top: $small-space;
            margin-bottom: $small-space;
            font-size: 16px;
        }

        .input-button {
            margin: $small-space auto $small-space;
            width: 300px;
        }
    }
}

/*****************/
/* PROFILE STYLE */
/*****************/
.profile {
    h1 {
        text-align: center;
    }

    .profile-image {
        width: 120px;
        height: 120px;
    }

    .border-menu {
        //@include border-menu();

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            list-style-type: none;
            text-align: center;
        }
    }
}

/*****************/
/* IDLE STYLE */
/*****************/
// darker to brighter
$idle_color_0: #4a3c2f;
$idle_color_1: #584839;
$idle_color_2: #675442;
$idle_color_3: #776655;
$idle_color_4: #94795f;
$idle_color_img: #c3c3ba;
.idle {
    background-color: $idle_color_0;
    color: $font-color;
    font-family: fontIdle /*serif*/;
    width: 1600px !important;
    height: 800px !important;

    h1 {
        text-align: center;
        color: whitesmoke;
    }

    .container-top-menu {
        text-align: center;

        .top-menu {
            background-color: $idle_color_4;
            margin: $small-space;
            padding: $small-space;
            display: inline-block;
            border: solid 4px;
            border-image: url("../images/border.png") 4 fill repeat;

            ul {
                padding: 0;
                margin: 0;
                text-align: center;
            }

            li {
                list-style-type: none;
                display: inline-block;
            }

            .btn-menu {
                background-color: $idle_color_1;
                font-size: 24px;

                &:hover {
                    background-color: $idle_color_2;
                }
            }

            .btn-armory-menu {
                background-color: $idle_color_1;
                font-size: 14px;

                &:hover {
                    background-color: $idle_color_2;
                }
            }

            .active {
                background-color: $idle_color_3;
            }
        }
    }

    .out-hero-menu {
        text-align: center;

        .hero-menu {
            background-color: $idle_color_4;
            max-height: 600px;
            margin: 0;
            padding: 0;
            display: inline-block;
            border: solid 4px;
            border-image: url("../images/border.png") 4 fill repeat;
        }
    }

    .out-menu {
        text-align: center;

        .menu {
            background-color: $idle_color_4;
            max-height: 600px;
            margin: 0;
            padding: 0;
            display: inline-block;
            border: solid 4px;
            border-image: url("../images/border.png") 4 fill repeat;

            .details-hero {
                padding: $small-space;
                margin: $small-space;

                .top {
                    text-align: left;
                    padding-left: $small-space;

                    .progress-hp {
                        height: 8px !important;
                        width: 200px;
                        border: 1px solid lightgray;
                        margin: $small-space 0 $small-space 0;
                        padding: 0;
                    }

                    .progress-bar-hp {
                        width: 0;
                        height: 100%;
                        background-color: #eb0000;
                    }
                }

                .bottom {
                    text-align: left;
                    padding-left: $small-space;
                    line-height: 28px;

                    .progress-exp {
                        height: 8px !important;
                        width: 250px;
                        border: 1px solid lightgray;
                        margin: $small-space 0 $small-space 0;
                        padding: 0;
                    }

                    .progress-bar-exp {
                        width: 0;
                        height: 100%;
                        background-color: #1e82eb;
                    }
                }

                .one {
                    padding-bottom: $small-space;
                }

                img.bordered {
                    width: 60px;
                    height: 60px;
                    border: solid 4px;
                    border-image: url("../images/border.png") 4 fill repeat;
                    cursor: pointer;
                }
            }

            .details-mob {
                padding: $small-space;
                margin: $small-space;
                height: 200px;

                .top {
                    text-align: left;
                    padding-left: $small-space;

                    .progress-hp {
                        height: 8px !important;
                        width: 250px;
                        border: 1px solid lightgray;
                        margin: $small-space auto;
                        padding: 0;
                    }

                    .progress-bar-hp {
                        width: 0;
                        height: 100%;
                        background-color: #be0000;
                    }
                }
            }

            .character img {
                width: 180px;
                height: 180px;
                border: solid 4px;
                border-image: url("../images/border.png") 4 fill repeat;
            }

            .damage {
                color: red;
                font-weight: bold;
                position: absolute;
                left: 110px;
                top: 70px;
                font-size: 42px;
                opacity: 1;
            }

            .heal {
                color: limegreen;
                font-weight: bold;
                position: absolute;
                left: 110px;
                top: 70px;
                font-size: 42px;
                opacity: 1;
            }

            .recipe {
                cursor: pointer;
            }
            //.equipment {
            //    img {
            //        width: 60px; // mettre .item, .draw-item img 120px
            //        height: 60px; // mettre .item, .draw-item img 120px
            //    }
            //}

            .can-select {
                box-shadow: 0 0 $shadow-size $shadow-size whitesmoke;
            }

            .selected {
                box-shadow: 0 0 $shadow-size $shadow-size yellow;
            }

            .fixed {
                width: 120px;
            }

            .refresh-inventory {
                float: right;
                margin: 5px;
            }

            .btn-craft {
                margin-left: 5px;
            }
        }
    }

    .item, .draw-item {
        margin: $small-space;
        padding: 0;
        float: left;
        cursor: pointer;

        img {
            width: 60px;
            height: 60px;
            background-color: $idle_color_img;
            border: solid 4px;
            border-image: url("../images/border.png") 4 fill repeat;
        }
    }
}

/*******************/
/* STRATEGY STYLE */
/******************/
.strategy {
    background-color: #06b;
    color: $font-color;
    width: 1600px !important;
    font-family: fontStrategy serif;

    h1 {
        text-align: center;
    }

    .menu {
        background-color: #08f;
        width: 200px;
        margin: 0 25px;
        padding: $small-space;
        border: solid 1px $border-color;
        border-radius: 10px;

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            list-style-type: none;
            text-align: center;
            margin: $small-space;
        }
    }

    .buildings-area {
        border: 1px solid lightgrey;
        width: 1200px;
        margin: 0 75px;

        .building {
            border: 1px solid lightgrey;
            padding: $small-space;
            margin: $small-space;

            .image {
                border: 1px solid lightgrey;
                text-align: center;
                padding: 0;

                img {
                    width: 120px;
                    height: 150px;
                }
            }

            .stats {
                border: 1px solid lightgrey;
            }

            .buttons {
                border: 1px solid lightgrey;
                text-align: center;
            }

            .details {
                border: 1px solid lightgrey;

                .description {
                    border: 1px solid lightgrey;
                    padding: $small-space;
                }

                .duration {
                    border: 1px solid lightgrey;
                    padding: 0;
                    text-align: center;

                    .timer {
                        float: left;
                        font-size: 14px;
                    }

                    .progress {
                        height: 8px !important;
                        width: 250px;
                        border: 1px solid lightgray;
                        margin: $small-space 0 $small-space 0;
                        padding: 0;
                    }

                    .progress-bar {
                        width: 0;
                        height: 100%;
                        background-color: lightgreen;
                    }
                }
            }
        }
    }
}

/*********************/
/* STORY-TELL STYLE */
/********************/
.story-tell {

    #stories-table {
        th {
            text-align: center;
        }
    }
    #readings-table {
        width: auto !important;
    }
    #mystories-table {
        width: auto !important;
    }

    .body {
        background-color: #444;
        border-radius: 5px;
        padding: $large-space;
        border: 1px solid #aaa;
    }

    .main-menu {
        margin: $small-space 0;
    }

    p.info {
        font-size: x-small;
    }

    .badge {
        &.new {
            background-color: red;
            color: whitesmoke;
        }

        &.info {
            background-color: limegreen;
            color: whitesmoke;
        }

        &.lock {
            background-color: dimgrey;
            color: whitesmoke;
        }
    }

    .block-reading {
        width: 600px;
        margin: 0 auto;

        .block-text {
            background-color: navajowhite;
            padding: $small-space;
            border: solid 1px $border-color;
            border-radius: 5px;
            color: $font-color;
        }

        .page-number {
            float: right;
            margin: $small-space 0;
        }

        .reading-buttons {
            text-align: center;
            margin-top: $large-space;
        }
    }

    .block-menu {
        //@include border-menu();
    }

    .block-form {
        //@include border-menu();

        .form-heading {
            text-align: center;
        }

        .form-style {
            max-width: 800px;
            padding: 15px;
            margin: 0 auto;

            .form-control {
                height: auto;
                padding: $small-space;
                margin-top: $small-space;
                margin-bottom: $small-space;
                font-size: 16px;
            }

            .form-list {
                list-style-type: none;
                height: auto;
                padding-left: $small-space;
                margin-bottom: $small-space;
            }

            .input-button {
                margin: $small-space 0 $small-space;
            }
        }
    }
}



/*********************/
/* PICK-ONE STYLE */
/********************/
.pick-one {

    .body {
        background-color: #444;
        border-radius: 5px;
        padding: $large-space;
        border: 1px solid #aaa;
    }

    #question-table {
        margin-left: 20%;
        width: 60%;
        border: 1px solid #ccc;
        th {
            text-align: center;
        }
        .signature td {
            border: 1px solid #ccc;
        }
    }

    .main-menu {
        margin: $small-space 0;
    }

    p.info {
        font-size: x-small;
    }

    .block-menu {
        //@include border-menu();
    }

    .block-form {
        //@include border-menu();

        .form-heading {
            text-align: center;
        }

        .form-style {
            max-width: 800px;
            padding: 15px;
            margin: 0 auto;

            .form-control {
                height: auto;
                padding: $small-space;
                margin-top: $small-space;
                margin-bottom: $small-space;
                font-size: 16px;
            }

            .form-list {
                list-style-type: none;
                height: auto;
                padding-left: $small-space;
                margin-bottom: $small-space;
            }

            .input-button {
                margin: $small-space 0 $small-space;
            }
        }
    }

    .question-table {
        border: none;

        .add-fav, .remove-fav {
            float: right;
            padding-right: $small-space;
            cursor: pointer;
        }

        .progress {
            height: 8px !important;
            width: 100%;
            border: 1px solid lightgray;
            margin: $small-space 0 $small-space 0;
            padding: 0;
        }

        .progress-bar {
            width: 0;
            height: 100%;
            background-color: deepskyblue;
        }
    }
}