@font-face {
  font-family: fontIdle;
  src: url("../fonts/monof55.ttf"); }
@font-face {
  font-family: fontStrategy;
  src: url("../fonts/nasalization-rg.ttf"); }
body {
  padding-top: 40px; }
  body.day {
    background-color: #ddd;
    color: #333; }
    body.day .border-menu {
      background-color: #eee;
      margin: 10px auto;
      padding: 10px;
      border: solid 1px #1b6d85;
      border-radius: 10px;
      box-shadow: 3px 3px 3px #ccc; }
    body.day .story-tell .body {
      background-color: #fff; }
  body.night {
    background-color: #333;
    color: #aaa; }
    body.night a {
      color: dodgerblue; }
      body.night a:hover {
        color: deepskyblue; }
    body.night .dropdown-menu > li > a {
      color: #333; }
    body.night .add-readings:hover {
      color: whitesmoke; }
    body.night .remove-readings:hover {
      color: whitesmoke; }
    body.night .navbar-default {
      background-color: #555;
      border-color: #666; }
      body.night .navbar-default .navbar-brand {
        color: #bbb; }
      body.night .navbar-default .navbar-nav > li > a {
        color: #bbb; }
        body.night .navbar-default .navbar-nav > li > a:hover {
          color: #ddd; }
      body.night .navbar-default .navbar-nav > .active > a {
        background-color: #777;
        color: #ddd; }
      body.night .navbar-default .navbar-nav > .open > a {
        background-color: #777;
        color: #ddd; }
      body.night .navbar-default .navbar-nav .dropdown-menu {
        background-color: #666; }
        body.night .navbar-default .navbar-nav .dropdown-menu > li > a {
          color: #bbb; }
          body.night .navbar-default .navbar-nav .dropdown-menu > li > a:hover {
            background-color: #777;
            color: #ddd; }
    body.night .border-menu {
      background-color: #444;
      margin: 10px auto;
      padding: 10px;
      border: solid 1px #1b6d85;
      border-radius: 10px;
      box-shadow: 3px 3px 3px #111; }
    body.night .story-tell .body {
      background-color: #444; }

a.btn {
  color: whitesmoke !important; }

.back-button {
  margin-top: 10px;
  color: whitesmoke; }

.color-mode-button {
  background-color: #666;
  border-color: #777;
  color: whitesmoke; }
  .color-mode-button.btn:focus, .color-mode-button.btn:active:focus, .color-mode-button.btn.active:focus, .color-mode-button.btn.focus, .color-mode-button.btn:active.focus, .color-mode-button.btn.active.focus {
    outline-color: ghostwhite; }
  .color-mode-button.btn:hover, .color-mode-button.btn:focus, .color-mode-button.btn.focus {
    background-color: #555;
    color: whitesmoke;
    border-color: darkgrey; }
  .color-mode-button.active, .color-mode-button:active {
    background-color: #444;
    color: whitesmoke; }

.starter-template {
  padding: 50px; }

/*************/
/* DASHBOARD */
/*************/
.dashboard h1 {
  text-align: center; }

/*********************/
/* ADMIN STYLE */
/********************/
.admin .block-form .form-heading {
  text-align: center; }
.admin .block-form .form-style {
  max-width: 800px;
  padding: 15px;
  margin: 0 auto; }
  .admin .block-form .form-style .form-control {
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px; }
  .admin .block-form .form-style .form-list {
    list-style-type: none;
    height: auto;
    padding-left: 10px;
    margin-bottom: 10px; }
  .admin .block-form .form-style .input-button {
    margin: 10px 0 10px; }

/****************/
/* GAME LIBRARY */
/****************/
.game-library h1 {
  text-align: center; }
.game-library img {
  border-radius: 10px;
  width: 250px;
  height: 350px; }
.game-library .locked {
  position: absolute;
  top: 120px;
  left: 120px;
  color: lightgrey; }

/**************/
/* FORM STYLE */
/**************/
.block-form .form-heading {
  text-align: center; }
.block-form .form-style {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }
  .block-form .form-style .form-control {
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px; }
  .block-form .form-style .input-button {
    margin: 10px 0 10px; }
.block-form .mail-style {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
  text-align: center; }
  .block-form .mail-style p {
    text-align: left; }
  .block-form .mail-style .form-control {
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px; }
  .block-form .mail-style .input-button {
    margin: 10px auto 10px;
    width: 300px; }

/*****************/
/* PROFILE STYLE */
/*****************/
.profile h1 {
  text-align: center; }
.profile .profile-image {
  width: 120px;
  height: 120px; }
.profile .border-menu ul {
  padding: 0;
  margin: 0; }
.profile .border-menu li {
  list-style-type: none;
  text-align: center; }

/*****************/
/* IDLE STYLE */
/*****************/
.idle {
  background-color: #4a3c2f;
  color: #333;
  font-family: fontIdle serif;
  width: 1600px !important;
  height: 800px !important; }
  .idle h1 {
    text-align: center;
    color: whitesmoke; }
  .idle .container-top-menu {
    text-align: center; }
    .idle .container-top-menu .top-menu {
      background-color: #94795f;
      margin: 10px;
      padding: 10px;
      display: inline-block;
      border: solid 4px;
      border-image: url("../images/border.png") 4 fill repeat; }
      .idle .container-top-menu .top-menu ul {
        padding: 0;
        margin: 0;
        text-align: center; }
      .idle .container-top-menu .top-menu li {
        list-style-type: none;
        display: inline-block; }
      .idle .container-top-menu .top-menu .btn-menu {
        background-color: #584839;
        color: yellow;
        font-size: 24px; }
        .idle .container-top-menu .top-menu .btn-menu:hover {
          background-color: #675442; }
      .idle .container-top-menu .top-menu .active {
        background-color: #776655; }
  .idle .out-hero-menu {
    text-align: center; }
    .idle .out-hero-menu .hero-menu {
      background-color: #94795f;
      max-height: 600px;
      margin: 0;
      padding: 0;
      display: inline-block;
      border: solid 4px;
      border-image: url("../images/border.png") 4 fill repeat; }
      .idle .out-hero-menu .hero-menu .details-hero {
        padding: 10px;
        margin: 10px;
        height: 200px; }
        .idle .out-hero-menu .hero-menu .details-hero .top {
          text-align: left;
          padding-left: 10px; }
          .idle .out-hero-menu .hero-menu .details-hero .top .progress-hp {
            height: 8px !important;
            width: 200px;
            border: 1px solid lightgray;
            margin: 10px 0 10px 0;
            padding: 0; }
          .idle .out-hero-menu .hero-menu .details-hero .top .progress-bar-hp {
            width: 0;
            height: 100%;
            background-color: #eb0000; }
        .idle .out-hero-menu .hero-menu .details-hero .bottom {
          text-align: left;
          padding-left: 10px;
          line-height: 28px; }
          .idle .out-hero-menu .hero-menu .details-hero .bottom .progress-exp {
            height: 8px !important;
            width: 250px;
            border: 1px solid lightgray;
            margin: 10px 0 10px 0;
            padding: 0; }
          .idle .out-hero-menu .hero-menu .details-hero .bottom .progress-bar-exp {
            width: 0;
            height: 100%;
            background-color: #1e82eb; }
        .idle .out-hero-menu .hero-menu .details-hero .hero {
          width: 180px;
          height: 180px;
          border: solid 4px;
          border-image: url("../images/border.png") 4 fill repeat;
          cursor: pointer; }
        .idle .out-hero-menu .hero-menu .details-hero .one {
          padding-bottom: 10px; }
        .idle .out-hero-menu .hero-menu .details-hero .equipement {
          width: 60px;
          height: 60px;
          border: solid 4px;
          border-image: url("../images/border.png") 4 fill repeat; }
  .idle .out-mob-menu {
    text-align: center; }
    .idle .out-mob-menu .mob-menu {
      background-color: #94795f;
      max-height: 600px;
      margin: 0;
      padding: 0;
      display: inline-block;
      border: solid 4px;
      border-image: url("../images/border.png") 4 fill repeat; }
      .idle .out-mob-menu .mob-menu .details-mob {
        padding: 10px;
        margin: 10px;
        height: 200px; }
        .idle .out-mob-menu .mob-menu .details-mob .monster {
          width: 180px;
          height: 180px;
          border: solid 4px;
          border-image: url("../images/border.png") 4 fill repeat; }
        .idle .out-mob-menu .mob-menu .details-mob .damage {
          position: absolute;
          left: 90px;
          top: 90px;
          font-size: 36px;
          opacity: 1; }
        .idle .out-mob-menu .mob-menu .details-mob .top {
          text-align: left;
          padding-left: 10px; }
          .idle .out-mob-menu .mob-menu .details-mob .top .progress-hp {
            height: 8px !important;
            width: 250px;
            border: 1px solid lightgray;
            margin: 10px auto;
            padding: 0; }
          .idle .out-mob-menu .mob-menu .details-mob .top .progress-bar-hp {
            width: 0;
            height: 100%;
            background-color: #be0000; }

/*******************/
/* STRATEGY STYLE */
/******************/
.strategy {
  background-color: #06b;
  color: #333;
  width: 1600px !important;
  font-family: fontStrategy serif; }
  .strategy h1 {
    text-align: center; }
  .strategy .menu {
    background-color: #08f;
    width: 200px;
    margin: 0 25px;
    padding: 10px;
    border: solid 1px #1b6d85;
    border-radius: 10px; }
    .strategy .menu ul {
      padding: 0;
      margin: 0; }
    .strategy .menu li {
      list-style-type: none;
      text-align: center;
      margin: 10px; }
  .strategy .buildings-area {
    border: 1px solid lightgrey;
    width: 1200px;
    margin: 0 75px; }
    .strategy .buildings-area .building {
      border: 1px solid lightgrey;
      padding: 10px;
      margin: 10px; }
      .strategy .buildings-area .building .image {
        border: 1px solid lightgrey;
        text-align: center;
        padding: 0; }
        .strategy .buildings-area .building .image img {
          width: 120px;
          height: 150px; }
      .strategy .buildings-area .building .stats {
        border: 1px solid lightgrey; }
      .strategy .buildings-area .building .buttons {
        border: 1px solid lightgrey;
        text-align: center; }
      .strategy .buildings-area .building .details {
        border: 1px solid lightgrey; }
        .strategy .buildings-area .building .details .description {
          border: 1px solid lightgrey;
          padding: 10px; }
        .strategy .buildings-area .building .details .duration {
          border: 1px solid lightgrey;
          padding: 0;
          text-align: center; }
          .strategy .buildings-area .building .details .duration .timer {
            float: left;
            font-size: 14px; }
          .strategy .buildings-area .building .details .duration .progress {
            height: 8px !important;
            width: 250px;
            border: 1px solid lightgray;
            margin: 10px 0 10px 0;
            padding: 0; }
          .strategy .buildings-area .building .details .duration .progress-bar {
            width: 0;
            height: 100%;
            background-color: lightgreen; }

/*********************/
/* STORY-TELL STYLE */
/********************/
.story-tell #stories-table th {
  text-align: center; }
.story-tell #readings-table {
  width: auto !important; }
.story-tell #mystories-table {
  width: auto !important; }
.story-tell .body {
  background-color: #444;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #aaa; }
.story-tell .main-menu {
  margin: 10px 0; }
.story-tell p.info {
  font-size: x-small; }
.story-tell .badge.new {
  background-color: red;
  color: whitesmoke; }
.story-tell .badge.info {
  background-color: limegreen;
  color: whitesmoke; }
.story-tell .badge.lock {
  background-color: dimgrey;
  color: whitesmoke; }
.story-tell .block-reading {
  width: 600px;
  margin: 0 auto; }
  .story-tell .block-reading .block-text {
    background-color: navajowhite;
    padding: 10px;
    border: solid 1px #1b6d85;
    border-radius: 5px;
    color: #333; }
  .story-tell .block-reading .page-number {
    float: right;
    margin: 10px 0; }
  .story-tell .block-reading .reading-buttons {
    text-align: center;
    margin-top: 20px; }
.story-tell .block-form .form-heading {
  text-align: center; }
.story-tell .block-form .form-style {
  max-width: 800px;
  padding: 15px;
  margin: 0 auto; }
  .story-tell .block-form .form-style .form-control {
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px; }
  .story-tell .block-form .form-style .form-list {
    list-style-type: none;
    height: auto;
    padding-left: 10px;
    margin-bottom: 10px; }
  .story-tell .block-form .form-style .input-button {
    margin: 10px 0 10px; }

/*# sourceMappingURL=main.css.map */
