{% extends "ClickerBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}Guild{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-md-12">
            <h1>Guild</h1>
        </div>
    </div>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-md-4 out-left-menu">
            <div class="col-md-12 left-menu">
                <ul>
                    <li><img src="" alt="hero" class="hero"></li>
                    <li><img src="" alt="weapon" class="equipement"></li>
                    <li><img src="" alt="shield" class="equipement"></li>
                    <li><img src="" alt="armor" class="equipement"></li>
                    <li><img src="" alt="helmet" class="equipement"></li>
                    <li><img src="" alt="gloves" class="equipement"></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 out-screen">
            <div class="col-md-12 screen">
                <div class="row">
                    <div class="btn-group" role="group">
                        <a href="{{ path('guild_mainpage') }}" class="btn btn-armory-menu {% if path(app.request.attributes.get('_route')) == path('guild_mainpage') %}active{% endif %}">MainPage</a>
                        <a href="{{ path('guild_members') }}" class="btn btn-armory-menu {% if path(app.request.attributes.get('_route')) == path('guild_members') %}active{% endif %}">Members</a>
                        <a href="{{ path('guild_raids') }}" class="btn btn-armory-menu {% if path(app.request.attributes.get('_route')) == path('guild_raids') %}active{% endif %}">Raids</a>
                    </div>
                    <div class="row">
                        {% block page_guild %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}