<div class="row container-top-menu">
    <div class="top-menu">
        <ul>
            <li><a href="{{ path('homepage_clicker') }}" class="btn btn-menu {% if path(app.request.attributes.get('_route')) == path('homepage_clicker') %}active{% endif %}">Home</a></li>
            <li><a href="{{ path('armory') }}" class="btn btn-menu {% if path('armory') in path(app.request.attributes.get('_route')) %}active{% endif %}">Armory</a></li>
            <li><a href="{{ path('guild') }}" class="btn btn-menu {% if path('guild') in path(app.request.attributes.get('_route')) %}active{% endif %}">Guild</a></li>
            <li><a href="{{ path('dungeons') }}" class="btn btn-menu {% if path(app.request.attributes.get('_route')) == path('dungeons') %}active{% endif %}">Dungeons</a></li>
        </ul>
    </div>
</div>