{% extends "StrategyBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}Homepage{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-md-12">
            <h1>Strategy HomePage</h1>
        </div>
    </div>
{% endblock %}

{% block page %}
<div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
            PAGE
        </div>
    </div>
</div>
{% endblock %}