<div class="col-md-2 menu">
    <ul>
        <li><a class="btn btn-primary" href="{{ path('homepage_strategy') }}">Home</a></li>
        <li><a class="btn btn-primary" href="{{ path('buildings') }}">Buildings</a></li>
        <li><a class="btn btn-primary" href="#">Economy</a></li>
    </ul>
</div>